/*Codigo que se repite en distintas secciones*/

.sub_menu_contact{
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50px;
    background-color: rgb(14, 56, 99);
    transition: opacity 1s;
}

.sub_menu_contact li a{
    font-size: 18px;
   color: white;
}


.show{
    opacity: 1;
}